In [23]:
import pandas as pd

In [24]:
#8.2 Reading CSV Data into a DataFrame
df = pd.read_csv(r"/Users/allen/Documents/Python/INST 126/Final Project/\Users\allen\Documents\Python\INST 126\Final Project\WinterWrecker.csv")
df

,Rank,Lifter,Sex,Age,Equip,Class,Weight,Squat,Bench,Deadlift,Total,Dots
0,1,Bomnorng Tek,M,31~,Raw,90,85.3,280.0,187.5,295.0,762.5,507.05
1,2,Zachary Broderick,M,27~,Raw,90,84.6,257.5,185.0,300.0,742.5,495.97
2,3,Gaoussou Coulibaly,M,22,Raw,100,94.8,260.0,187.5,325.0,772.5,487.06
3,4,Mason Sarra,M,20~,Raw,82.5,82.4,260.0,165.0,287.5,712.5,482.97
4,5,Evan Dunne,M,27~,Raw,90,87.5,275.0,175.0,275.0,725.0,475.62
...,...,...,...,...,...,...,...,...,...,...,...,...
180,181,Amy Knieriem,F,59~,Raw,67.5,66.3,67.5,40.0,97.5,205.0,213.86
181,182,Charles Bramble,M,65~,Raw,100,99.1,115.0,75.0,145.0,335.0,207.01
182,DQ,Brandon Cadena,M,21~,Raw,82.5,80.1,177.5,NaN,225.0,NaN,NaN
183,DQ,Sameer Rahman,M,22~,Raw,75,71.7,NaN,130.0,210.0,NaN,NaN
184,DQ,Justin Dubon Cinco,M,18~,Raw,90,89.9,NaN,NaN,NaN,NaN,NaN

In [26]:


# Add a new column 'pound weight' calculated from 'weight' column which is the weight in kilos
#8.1 Used an narray or Series to perform a vectorized computation instead of a loop or comprehension.
df.loc[:, 'pound weight'] = df['Weight'] * 2.2

# Move 'pound weight' column to be the 7th column
column_order = list(df.columns)
column_order.insert(6, column_order.pop(-1))  
# Move last element to the 6th position

# Reorder the DataFrame columns
df = df[column_order]

print(df)

    Rank              Lifter Sex  Age Equip Class  pound weight  Weight  \
0      1        Bomnorng Tek   M  31~   Raw    90        187.66    85.3
1      2   Zachary Broderick   M  27~   Raw    90        186.12    84.6
2      3  Gaoussou Coulibaly   M   22   Raw   100        208.56    94.8
3      4         Mason Sarra   M  20~   Raw  82.5        181.28    82.4
4      5          Evan Dunne   M  27~   Raw    90        192.50    87.5
..   ...                 ...  ..  ...   ...   ...           ...     ...
180  181        Amy Knieriem   F  59~   Raw  67.5        145.86    66.3
181  182     Charles Bramble   M  65~   Raw   100        218.02    99.1
182   DQ      Brandon Cadena   M  21~   Raw  82.5        176.22    80.1
183   DQ       Sameer Rahman   M  22~   Raw    75        157.74    71.7
184   DQ  Justin Dubon Cinco   M  18~   Raw    90        197.78    89.9

     Squat  Bench  Deadlift  Total    Dots
0    280.0  187.5     295.0  762.5  507.05
1    257.5  185.0     300.0  742.5  495.97
2    260.0  187.5     325.0  772.5  487.06
3    260.0  165.0     287.5  712.5  482.97
4    275.0  175.0     275.0  725.0  475.62
..     ...    ...       ...    ...     ...
180   67.5   40.0      97.5  205.0  213.86
181  115.0   75.0     145.0  335.0  207.01
182  177.5    NaN     225.0    NaN     NaN
183    NaN  130.0     210.0    NaN     NaN
184    NaN    NaN       NaN    NaN     NaN

[185 rows x 13 columns]

In [25]:
#Finding all of the Junior Lifters

In [27]:
# Remove the tilde (~) symbol for strings and keep integers as they are
df['Age'] = df['Age'].apply(lambda x: x.replace('~', '') if isinstance(x, str) else x)

# Convert the 'Age' column to numeric, handling errors by setting non-convertible values to NaN
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

# Drop rows with NaN values (optional, depending on your requirements)
df = df.dropna()

# Perform the comparison after conversion
#8.3 Using Pandas to get a subset of a data frame using boolean
subset_df = df[df['Age'] <= 22]

print(subset_df)

    Rank              Lifter Sex  Age Equip Class  pound weight  Weight  \
2      3  Gaoussou Coulibaly   M   22   Raw   100        208.56    94.8
3      4         Mason Sarra   M   20   Raw  82.5        181.28    82.4
9     10    Brendan Harrigan   M   22   Raw   125        273.02   124.1
11    12         Michael Eng   M   17   Raw  82.5        177.76    80.8
12    13      Lucas Campbell   M   22   Raw    75        163.68    74.4
..   ...                 ...  ..  ...   ...   ...           ...     ...
169  170   Samantha Browning   F   13   Raw  67.5        140.36    63.8
172  173        Aidan Posada   M   18   Raw   100        204.82    93.1
173  174            Ben Rees   M   18   Raw  67.5        136.40    62.0
175  176       Phoenix Ahles   F   14   Raw  67.5        146.74    66.7
179  180        Harshal Modi   M   19   Raw    75        156.86    71.3

     Squat  Bench  Deadlift  Total    Dots
2    260.0  187.5     325.0  772.5  487.06
3    260.0  165.0     287.5  712.5  482.97
9    312.5  210.0     285.0  807.5  458.71
11   235.0  152.5     277.5  665.0  455.72
12   212.5  140.0     272.5  625.0  450.71
..     ...    ...       ...    ...     ...
169   85.0   50.0     112.5  247.5  264.04
172  142.5   82.5     182.5  407.5  259.14
173   95.0   85.0     130.0  310.0  254.82
175   77.5   35.0     125.0  237.5  246.79
179  122.5   60.0     115.0  297.5  220.56

[79 rows x 13 columns]

In [28]:
#Finding all of UMD lifters

In [29]:
#names to check
names_to_check = ['Guodong Liu', 'Guoliang Liu', 'Kyle Pak', 'Jorge Zheng', 'Eli DeLuca', 'Isaiah Lee', 'Anmol Singh', 'Noah Pak', 'Shannon Van', 'Joshua Pak', 'Qiuyu Xue', 'Ariana Boyd']

# Create a boolean mask for the subset of names you want to check
mask = df['Lifter'].isin(names_to_check)

# Use the boolean mask to filter the DataFrame
#8.3 Using Pandas to get a subset of a data frame using boolean
subset_df = df[mask]

# Display the subset DataFrame
print(subset_df)

    Rank        Lifter Sex  Age Equip Class  pound weight  Weight  Squat  \
22    23      Kyle Pak   M   21   Raw    90        186.56    84.8  227.5
25    26    Joshua Pak   M   22   Raw    90        189.64    86.2  227.5
30    31   Jorge Zheng   M   21   Raw  67.5        148.50    67.5  185.0
37    38     Qiuyu Xue   M   24   Raw  67.5        148.06    67.3  205.0
44    45    Eli DeLuca   M   19   Raw  82.5        172.70    78.5  217.5
108  109   Guodong Liu   M   19   Raw   100        209.88    95.4  200.0
127  128   Ariana Boyd   F   20   Raw    56        120.12    54.6  107.5
138  139    Isaiah Lee   M   21   Raw    75        161.92    73.6  157.5
142  143   Anmol Singh   M   20   Raw  82.5        180.84    82.2  162.5
145  146  Guoliang Liu   M   17   Raw  82.5        180.84    82.2  165.0
148  149      Noah Pak   M   13   Raw  67.5        139.26    63.3  140.0
154  155   Shannon Van   F   21   Raw    75        163.46    74.3  105.0

     Bench  Deadlift  Total    Dots
22   140.0     275.0  642.5  428.62
25   147.5     267.5  642.5  424.84
30   132.5     225.0  542.5  418.13
37   122.5     202.5  530.0  409.37
44   122.5     240.0  580.0  404.32
108  122.5     237.5  560.0  351.95
127   55.0     122.5  285.0  335.98
138   97.5     192.5  447.5  324.84
142  110.0     197.5  470.0  318.92
145  105.0     197.5  467.5  317.23
148   92.5     145.0  377.5  305.30
154   65.0     132.5  302.5  295.99

In [30]:
#create csv file
subset_df.to_csv(r'\Users\allen\Documents\Python\INST 126\Final Project\WinterWreckerUMD.csv', index = False)